[Unit]
Description=Daily anamnestic backup

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=30min
Unit=anamnestic-backup.service

[Install]
WantedBy=timers.target
